.product-card {
    width:500px;
    padding: 15px;
    border: 1px solid #757474;
    border-radius: 9px;
    box-shadow: 0 2px 6px rgba(3, 3, 3, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    
}

.product-card img {
    width: 90%;
    border-radius: 8px;
    color: #533030;
    
}

.product-title {
    font-size: 18px;
    color: #ffffff;
    margin: 10px 0;
}

.product-price {
    color: #32e600; 
    font-weight: bold;
    font-size: 20px;
}

.product-description {
    font-size: 14px;
    color: lch(6.77% 0 296.81);
}

.buy-button {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #2968c8;
}
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

body {
    background-image: url('../img/sao.jpeg'); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;  
}
 nav {
        background-color: #000000;
        padding: 0px 0;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    nav ul li {
        position: relative;
        margin: 0 20px;
    }

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        padding: 8px 15px;
        display: block;
        font-size: 18px;
        transition: background 0.3s;
        border-radius: 4px;
         font-family: Arial, sans-serif;
    }

    nav ul li a:hover {
        background-color: #444;
    }

    nav ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 10px;
        list-style: none;
        min-width: 200px;
        border-radius: 4px;
        z-index: 100;
    }

    nav ul li ul li a {
        padding: 10px 15px;
    }

    nav ul li:hover ul {
        display: block;
    }

    h1 {
        text-align: center;
        margin: 30px 0;
        color: #fff;
    }
    .mem{  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 }
 .product-title{
font-family: 'Playfair Display', serif;

font-size: 40px;
}
.product-price{
    font-family: 'Poppins',sans-serif;

font-size: 31px;
}
.product-description {

font-family: 'Inter',sans-serif;
font-size: 20px;
}




    